.btn-secondary{
    margin-left: 3px;
}

.btn-success{
    margin-left: 3px;
}

.btn-circle, .btn-circle-3d{
    border-radius: 50%;
    background-color: #D0CACA;
    margin-left: 4px;
}

.btn-default.btn-circle{
    -webkit-box-shadow: 0px 0px 3px 1px #ccc; 
}

.right {
    text-align: right;
}

.r{color: blue;}

.col-lg-5{
    position: relative;
    left: 2em;
}

font{
    text-align: left;
} 


#a{     
padding: 0;
}

#a li{
display: inline;

}

#a li a{
font-family: Arial;
font-size: 15px;
text-decoration: none;
float: left;
padding: 10px;
background-color: #EBEEF0;
color: #757779;
width: 202px;
height: 65px;   
}

#button li a:hover {
 background-color: #2586d7;
 margin-top: -2;
 padding-bottom: 12px;
 }

/* New Product*/
h5{
margin-left: -1.1em;
padding: 2%;
background-color: #2471A3;
width: 103.5%;
font-size: 15x;
color:#ffffff;
}

/* Table */
.rwd-table {
  margin: 1em 0;
  min-width: 250px;
  
}
.rwd-table th {
  display: none;
  width: 10%;
}
.rwd-table td {
  display: block;
}
.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}
@media (min-width: 480px) {
  .rwd-table td:before {
    display: none;
  }
}
.rwd-table th, .rwd-table td {
  text-align: center;
}
@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    display: table-cell;
  }
}

body {
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #444;
  background: #eee;
}

.rwd-table {
  background:    #ffffff;
  color:  #000000;
  overflow: hidden;
}

.rwd-table tr {
  border-color:  #000000;
border: 2px solid #3498DB;
}

.rwd-table th, .rwd-table td:before {
  color:   #000000; 
  font-family: calibri;
 
}

.rwd-table th{
background-color: #E5E8E8;
}

.rwd-table tr:nth-child(odd) {
    background-color: #D6EAF8;
}

.rwd-table tr:nth-child(even) {
    background-color: #EDF4F9;
}   

