<div class="panel panel-primary">
<div class="panel-heading" id="panels">Filtado de comprobantes fiscales digitales</div>
     <div class="panel-body">
        <form>

             <input type="hidden" name="idEmisor">
             <div>
            <input name="uuid" type="checkbox" value=""><label> UUID</label> 
            <input type="checkbox" name="folio" value=""><label>Folio de CFDI</label>
            </div>
            <div class="d-flex justify-content-center">

            <div>
            	<div class="col-lg-4">
            	<input type="text" name="fol" class="form-control" id="fol" placeholder="123456789">
            	</div>
            	<button class="btn btn-success" type="button">Buscar</button>
            </div>

    
                <div class="form-group col-lg-4">
                <div class="col-lg-5">
                    <font>Buscar por RFC/Cliente/Razon social
                    </font>
                </div>
                <div class="col-lg-4">    
                    <input type="text" name="curp" class="form-control" placeholder="AANJ148935HVZMANS7">
                </div>
                </div>

                <div class="form-group col-lg-4">
                <div class="col-lg-5">
                    <font>RFC
                    </font>
                </div>
                <div class="col-lg-4">
                    <input type="text" name="registro" class="form-control" id="registro" placeholder="AANJ148935HVZMANS7">
                </div>
                </div>

                <div class="form-group col-lg-4">
                <div class="col-lg-5">
                    <font> Cliente
                    </font>
                </div>    
                <div class="col-lg-4">
                    <input type="text" name="patron" class="form-control" id="patron" placeholder="0042-MUICIPIO DE ATLAHUILCO"> 
                </div>
                </div>
                        
            </div>
        </form>
 </div>
 </div>