#panels{
	background-color: #333366  ;
}

.b{
   padding: 3px 10px;
  border: #006666 solid;
  border-radius: 20px;
}

#bor1{}

#NSER{
	color: #FBFCFC; 
  width: 90em;
	background-color: #006666; 
}

#NSER th{
	text-align: center;
}