<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">Panel with panel-primary class</div>
    <div class="panel-body">Panel Content</div>
    <div class="form-horizontal">
      <div class="col-sm-4">
          <div class="form-group">
              <label for="MainContent_text_reg_web" class="col-sm-4 control-label">CURP:</label>
              <div class="col-sm-8">
                  <input name="curp" id="curp" class="form-control" type="text" placeholder="AAAA010203MPLBCD11">
              </div>
          </div>
      </div>
      <div class="col-sm-4">
          <div class="form-group">
              <label for="MainContent_text_reg_cp" class="col-sm-4 control-label">Registro patronal</label>
              <div class="col-sm-8">
                  <input name="rPatronal" id="rPatronal" class="form-control" type="text" placeholder="Registro patronal">
              </div>
          </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
            <label for="MainContent_text_reg_cp" class="col-sm-4 control-label">RFC patron de origen</label>
            <div class="col-sm-8">
                <input name="rpOrigen" id="rpOrigen" class="form-control" type="text" placeholder="AAAA010203AAA">
            </div>
        </div>
    </div>
</div>
  </div>
</div>