<div class="panel panel-primary">
    <div class="panel-heading" id="panels">Compobante emisor</div>
    <div class="panel-body d-flex justify-content-center">

    <div class="one">
        <form class="form-inline col-lg-12" role="form-horizontal">
            <div class="col-md-12 col-lg-12">

            <div class="row">

                <div class="col-lg-4 form-group">
                    <div class="col-lg-5">
                        <font size="2" class="rfc">
                            *RFC
                        </font>
                    </div>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" id="rfc" placeholder="RFC" maxlength="13" name="">
                    </div>
                    </div>

                    <div class="col-lg-4 form-group">
                        <div class="col-lg-5">
                            <font size="2" class="sucursal">
                                Sucursal
                            </font>
                        </div>
                        <div  class="col-lg-4">
                            <input type="text" class="form-control" id="sucursal" placeholder="Sucursal" name="">
                        </div>
                        </div>

                        <div class="col-lg-4 form-group">
                            <div class="col-lg-5">
                            <font size="2" class="Razon social">
                                Razon social
                            </font>
                            </div>
                            <div class="col-lg-4">
                            <input type="text" class="form-control" id="razon" placeholder="Razon social" name="">
                            </div>
                        </div>
                    </div>


                    <div class="row">
                    <div class="col-lg-4 form-group">
                        <div class="col-lg-5">
                            <font size="2" class="serie">
                                Serie
                            </font>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" id="serie" placeholder="Serie" name="">
                            </div>
                        </div>

                        <div class="col-lg-4 form-group">
                            <div class="col-lg-5">
                                <font size="2" class="Tipo doc">
                                    Tipo de documento
                                </font>
                            </div>
                            <div class="col-lg-4">
                            <input type="text" class="form-control" id="doc" placeholder="Tipo de doc." name="">
                            </div>
                        </div>

                        <div class="col-lg-4 form-group">
                            <div class="col-lg-5">
                                <font size="2" class="tipo com.">
                                    Tipo de comprobante 
                                </font>
                            </div>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" id="com" placeholder="Tipo de com" name="">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 form-group">
                            <div class="col-lg-5">
                                <font size="2" class="flio">
                                    Folio
                                </font>
                            </div>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" id="flio" placeholder="folio" name="">
                            </div>
                        </div>

                        <div class="col-lg-4 form-group">
                            <div class="col-lg-5">
                                <font size="2" class="Titulo">
                                    Titulo de comprobante
                                </font>
                            </div>
                            <div class="col-lg-4">
                                <input type="tex" class="form-control" id="titulo com" placeholder="titulo comprobante" name="">
                            </div>
                        </div>

                        <div class="col-lg-4 form-group">
                            <div class="col-lg-5">
                                <font size="2" class="fecha">
                                    Fecha
                                </font>
                            </div>
                            <div class="col-lg-4">
                                <input type="calendar" class="form-control" id="fecha" placeholder="feccha" name="">
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-4 form-group">
                            <div class="col-lg-5">
                                <font size="2" class="pago">
                                    Forma de pago
                                </font>
                            </div>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" id="forma" placeholder="forma pago" name="">
                            </div>
                        </div>

                        <div class="col-lg-4 form-group">
                            <div class="col-lg-5">
                                <font size="2" class="metooo">
                                    Metodo de pago
                                </font>
                            </div>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" id="metpag" placeholder="metodo pago" name="">
                            </div>
                        </div>

                        <div class="col-lg-4 form-group">
                            <div class="col-lg-5">
                                <font size="2" class="moneda">
                                    Moneda
                                </font>
                            </div>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" id="moneda" placeholder="moneda" name="">
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-lg-4 form-group">
                            <div class="col-lg-5">
                                <font size="2" class="espedicion">
                                    Lugar de expedicion
                                </font>
                            </div>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" id="lugexp" placeholder="lugar expedicion" name="">
                            </div>
                        </div>

                        <div class="col-lg-4 form-group">
                            <div class="col-lg-5">
                                <font size="2" class="regimen">
                                    Regimen fiscal
                                </font>
                            </div>
                            <div class="col-lg-4 form-group">
                                <select id="sele" class="custom-select form-control">
                                    <option>bla</option>
                                    <option>ble</option>
                                    <option>bli</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-4 form-group">
                            <div class="col-lg-5">
                                <font size="2" class="confirmacion">
                                    Confirmacion
                                </font>
                            </div>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" id="confirmacion" placeholder="confirmacion" name="">
                            </div>
                        </div>
                    </div>
                        
                    </div>

                    
                </div>

-----------------------------------------------------------------
                <div class="panel-heading" id="panels"></div>
                    <div class="panel-body">

                    <div>
                    <form>
                        <input type="hidden" name="idEmisor">
                        <div>
                            <input name="emisor" type="checkbox" value=""><label> Agragar emisor</label>
                        </div>

                        <div class="d-flex justify-content-center">
                        <div class="two">

                        <form class="form-inline" role="form">
                            <div class="form-group col-lg-4">
                                <h6>CURP</h6>
                                <input type="text" name="curp" class="form-comtrol" placeholder="AANJ148935HVZMANS7">
                            </div>

                            <div class="form-group col-lg-4">
                                <h6>Registro Patrolnail</h6>
                                    <input type="text" name="registro" class="form-control" id="registro" placeholder="registro personal">
                            </div>

                            <div class="form-group col-lg-4">
                                <h6> RFC Patron de origen</h6>
                                <input type="text" name="patron" class="form-control" id="patron" placeholder="AAWW890512MVZAVE6">
                                
                            </div>

                            <div class="col-lg-4 form-group">
                                <input type="checkbox" name="sncf" class="form-Sistema Nacional de Coordinacion Fiscal(SNCF)">
                                <h6>Agregar Entidad SIt</h6>
                                
                            </div>
                        </form>
                            
                        </div>
                            
                        </div>
                    </form>
                        
                    </div>
                            
                        </div>
                    
                </div>
                

                
            </div>
                
            </div>
            
        </form>
        
    </div>
        
    </div>      
</div>

<div class="panel panel-primary">
    <div class="panel-heading" id="panels">Empleado</div>
    <div
    
</div>
