<div class="container">
  <!--Primer panel-->    
  <div class="panel panel-primary">
  <div class="panel-heading" id="panels"><font style="font-size: 15px">Filtrado de componentes fidcales digitales</font></div>
       <div class="panel-body">
          
          <form>
  
                  <div class="form-group col-lg-4">  
                  <div class="col-lg-2">
                      <font>
                          Folio
                      </font>
                  </div>
                  <div class="col-sm-7">  
                      <input type="text" name="busc" class="form-comtrol" placeholder="Folio de retencion">
                  </div>
                  </div>
                  <div>
                      <button class="btn btn-success" type="button" value="">Buscar</button>
                  </div>                   
          </form>
  
          <br>
          <br>
          
  
          <form>
              <div class="row">
                    <div></div>
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    &nbsp;
              <div class="b">

              <div class="col-lg-4 form-group">
                  <div>
                      <font>Dia</font>
                  </div>
                  <div>
                      <select class="custon-select form-control" name="dia">
                          <option>01</option>
                          <option>02</option>
                          <option>03</option>
                          <option>04</option>
                          <option>05</option>
                          <option>06</option>
                          <option>07</option>
                          <option>08</option>
                          <option>09</option>
                          <option>10</option>
                          <option>11</option>
                          <option>12</option>
                          <option>13</option>
                          <option>14</option>
                          <option>15</option>
                          <option>16</option>
                          <option>17</option>
                          <option>18</option>
                          <option>19</option>
                          <option>20</option>
                          <option>21</option>
                          <option>22</option>
                          <option>23</option>
                          <option>24</option>
                          <option>25</option>
                          <option>26</option>
                          <option>27</option>
                          <option>28</option>
                          <option>29</option>
                          <option>30</option>
                          <option>31</option>
                      </select>
                  </div>
              </div>
  
              <div class="col-lg-4 form-group">
                  <div>
                      <font>
                      Mes
                      </font>
                  </div>
                  <div>
                      <select class="custon-select form-control" name="Mes">
                          <option>Enero</option>
                          <option>Febrero</option>
                          <option>MArzo</option>
                          <option>Abril</option>
                          <option>Mayo</option>
                          <option>Junio</option>
                          <option>Julio</option>
                          <option>Agosto</option>
                          <option>Septiembre</option>
                          <option>Octubre</option>
                          <option>Noviembre</option>
                          <option>Diciembre</option>
                      </select>
                  </div>
              </div>
  
              <div class="col-lg-4 form-group">
                  <div>
                      <font>
                          Año
                      </font>
                  </div>
                  <div>
                      <select class="custon-select form-control" name="Año">
                           <option>2000</option>
                          <option>2001</option>
                          <option>2002</option>
                          <option>2003</option>
                          <option>2004</option>
                          <option>2005</option>
                          <option>2006</option>
                          <option>2007</option>
                          <option>2008</option>
                          <option>2009</option>
                          <option>2010</option>
                          <option>2011</option>
                          <option>2012</option>
                          <option>2013</option>
                          <option>2014</option>
                          <option>2015</option>
                          <option>2016</option>
                          <option>2017</option>
                          <option>2018</option>
                          <option>2019</option>
                          <option>2020</option>
                          <option>2021</option>
                          <option>2022</option>
                          <option>2023</option>
                          <option>2024</option>
                          <option>2025</option>
                          <option>2026</option>
                          <option>2027</option>
                          <option>2028</option>
                          <option>2029</option>
                          <option>2030</option>
                      </select>
                  </div>
              </div>
              </div>
  
  &nbsp;
  &nbsp;
              <div class="b">
                  &nbsp;
              <div>
                  <div class="col-lg-5">
                      <font>Por sucursal</font>
                  </div>  
                  <div class="col-sm-7">
                      <select class="custon-select form-control" name="sucursal">
                          <option>Principal</option>
                          <option>PRUEBA</option>
                          <option>PRUEBA</option>
                          <option>PRUEBA</option>
                          <option>PRUEBA</option>
                          <option>PRUEBA</option>
                          <option>PRUEBA</option>
                      </select>
                  </div>
              </div>
              </div>
                  
                  &nbsp;
                  &nbsp;
  
  
              <div class="b">
  
                  <div>
                      <div class="col-lg-5">
                          <font>
                              Buscar por RFC
                          </font>
                      </div>
                      <div class="col-lg-4">
                          <input type="text" name="busc" class="form-control" id="Brfc" placeholder="ADML159823MDI6">
                      </div>
                  </div>
  
                  <div>
                      <div class="col-lg-5">
                          <font>
                              RFC
                          </font>
                      </div>
                      <div class="col-lg-4">
                         <input type="text" name="rfc" class="form-control" id="rfc" placeholder="ADML159823">
                      </div>
                  </div>
  
                  <div>
                      <div class="col-lg-5">
                          <font>
                              Razon social
                          </font>
                      </div>
                      <div class="col-lg-4">
                          <input type="text" name="Rso" class="form-control" id="Rsocial" placeholder="0042 MUNICIPIO DE ATLAHUILCO">
                      </div>
                  </div>
  
                  <div>
                      <button class="btn btn-success" type="button" value="">Buscar</button>
                  </div>
              </div>
              </div>
  
          </form>
   </div>
   </div>
  
  
  
   <!-- segundo panel-->
   <div class="panel panel-primary">
  <div class="panel-heading" id="panels"><font style="font-size: 15px">Comprobantes retenciones emitidos</font></div>
       <div class="panel-body">
          
          <form>
              <div class="row">
                    <div></div>
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    &nbsp;
              <div class="b">
                  
             <div>
                  <div class="col-lg-3">
                      <font>Plantilla</font>
                  </div>  
                  <div class="col-sm-7">
                      <select class="custon-select form-control" name="sucursal">
                          <option>Por defecto</option>
                          <option>PRUEBA</option>
                          <option>PRUEBA</option>
                          <option>PRUEBA</option>
                          <option>PRUEBA</option>
                          <option>PRUEBA</option>
                          <option>PRUEBA</option>
                      </select>
                  </div>
              </div>
  
              <div>
                  <button type="button" class="btn btn-success" value="">Descargar XML</button>
                  &nbsp;
                  <button type="button" class="btn btn-success" value="">Descargar PDF</button>
                  &nbsp;
                  <button type="button" class="btn btn-success" value="">Descargar XML y PDF</button>
              </div>
  
              </div>
  
              &nbsp;
              &nbsp;
              &nbsp;
  
              <div class="b">
  
                  <div>
                      <button type="button" class="btn btn-secondary" value="">Cancelar comprobante de retencion</button>
                      <button type="button" class="btn btn-secondary" value="">Descargar XML cancelacion</button>
                      <button type="button" class="btn btn-success" value="">Descargar XML envio</button>
                  </div>
                  
              </div>
  
              &nbsp;
              &nbsp;
              &nbsp;
          
  
              <div class="b">
                  <div class="">
                      <div class="col-lg-3">
                          <font>
                              Folio inicial
                          </font>
                      </div>
                      <div class="col-sm-9">
                          <input type="text" name="Fol" class="form-control" id="FolioI" placeholder="criterio de busqueda">
                      </div>
                  </div>
  
                  <div>
                  <button type="button" class="btn btn-success" value="" style="float: right;">Exportar excel</button>
              </div>                    
              </div>
  
              </div>
          </form>
  
          <form>
              
          <div>
              <input type="checkbox" name="comprobantes" value=""><label>Enviar comprobantes por correo</label>
          </div>
          
          <div>    
              <input type="checkbox" name="registros" value=""><label>Seleccionar todos los registros visibles</label>
          </div>
          </form>
  
          <br>
          <br>
          <table id="NSER" class="table table-responsive">
                <tr>
                    <th>NO SE ENCONTRARON REGISTROS</th>
                </tr>
            </table>
          <br>
          <br>
   </div>
   </div>
   </div>
  
   pedro