<!--primer panel-->
<div class="container">
    <div class="panel panel-primary">
    <div class="panel-heading" id="panels"><font style="font-size: 15px">Filtrado de componentes fidcales digitales</font></div>
         <div class="panel-body">
            
            <form>
    
                <div class="row">
                 <div>
                <input name="emisor" type="radio" value=""><label> Agragar emisor</label> 
                &nbsp;
                <input type="radio" name="cfdi" value=""><label>Folio de CFDI</label>
                </div>
                
                    <div class="col-lg-4">    
                        <input type="text" name="busc" class="form-comtrol" placeholder="Buscar">
                        <button class="btn btn-success" type="button" value="">Buscar</button>
                    </div>
                    
    
                    <div class="form-group">
                    <div class="col-lg-6">
                        <font>Buscar por RFC/Cliente/Razon social
                        </font>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" name="busca" class="form-control" id="Brcr" placeholder="AAWW890512MVZAVE6">
                    </div>
                    </div>
                    </div>
    
    
                    <div class="form-group">
                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                        <font> RFC
                        </font>
                    </div>    
                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                        <input type="text" name="patron" class="form-control" id="patron" placeholder="AAWW890512MVZAVE6"> 
                    </div>
                    </div>
    
    
                    <div class="form-group">
                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                        <font>
                            Cliente 
                        </font>
                    </div>     
                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                        <input type="text" name="cli" class="form-control" id="cliente" placeholder="0042 0042-MUICIPIO DE ATLAHUILCO">
                    </div>               
                    </div>
    
                    <div>
                        <button class="btn btn-success" type="button" value="">Buscar</button>
                    </div>                      
            </form>
    
            <form>
                <div class="row">
                    <div></div>
                    &nbsp;
                    &nbsp;
                <div class="b">
                    
                <div class="col-lg-4 form-group">
                    <div>
                        <font>Dia</font>
                    </div>
                    <div>
                        <select class="custon-select form-control" name="dia">
                            <option>01</option>
                            <option>02</option>
                            <option>03</option>
                            <option>04</option>
                            <option>05</option>
                            <option>06</option>
                            <option>07</option>
                            <option>08</option>
                            <option>09</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                            <option>13</option>
                            <option>14</option>
                            <option>15</option>
                            <option>16</option>
                            <option>17</option>
                            <option>18</option>
                            <option>19</option>
                            <option>20</option>
                            <option>21</option>
                            <option>22</option>
                            <option>23</option>
                            <option>24</option>
                            <option>25</option>
                            <option>26</option>
                            <option>27</option>
                            <option>28</option>
                            <option>29</option>
                            <option>30</option>
                            <option>31</option>
                        </select>
                    </div>
                </div>
    
                <div class="col-lg-4 form-group">
                    <div>
                        <font>
                        Mes
                        </font>
                    </div>
                    <div>
                        <select class="custon-select form-control" name="Mes">
                            <option>Enero</option>
                            <option>Febrero</option>
                            <option>MArzo</option>
                            <option>Abril</option>
                            <option>Mayo</option>
                            <option>Junio</option>
                            <option>Julio</option>
                            <option>Agosto</option>
                            <option>Septiembre</option>
                            <option>Octubre</option>
                            <option>Noviembre</option>
                            <option>Diciembre</option>
                        </select>
                    </div>
                </div>
    
                <div class="col-lg-4 form-group">
                    <div>
                        <font>
                            Año
                        </font>
                    </div>
                    <div>
                        <select class="custon-select form-control" name="Año">
                             <option>2000</option>
                            <option>2001</option>
                            <option>2002</option>
                            <option>2003</option>
                            <option>2004</option>
                            <option>2005</option>
                            <option>2006</option>
                            <option>2007</option>
                            <option>2008</option>
                            <option>2009</option>
                            <option>2010</option>
                            <option>2011</option>
                            <option>2012</option>
                            <option>2013</option>
                            <option>2014</option>
                            <option>2015</option>
                            <option>2016</option>
                            <option>2017</option>
                            <option>2018</option>
                            <option>2019</option>
                            <option>2020</option>
                            <option>2021</option>
                            <option>2022</option>
                            <option>2023</option>
                            <option>2024</option>
                            <option>2025</option>
                            <option>2026</option>
                            <option>2027</option>
                            <option>2028</option>
                            <option>2029</option>
                            <option>2030</option>
                        </select>
                    </div>
                </div>
                </div>
    
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
    
    
                <div class="b" id="bo">
                    
                <div>
                    <div class="col-lg-5">
                        <font>Por sucursal</font>
                    </div>  
                    <div class="col-sm-7">
                        <select class="custon-select form-control" name="sucursal">
                            <option>Principal</option>
                            <option>PRUEBA</option>
                            <option>PRUEBA</option>
                            <option>PRUEBA</option>
                            <option>PRUEBA</option>
                            <option>PRUEBA</option>
                            <option>PRUEBA</option>
                        </select>
                    </div>
                </div>
    
                <div>
                    <div class="col-lg-5">
                        <font>
                            Serie
                        </font>
                    </div>
                    <div class="col-sm-7">
                        <input type="text" name="ser" class="form-control" id="serie" placeholder="Serie de la sucursal">
                    </div>
                </div>
    
                </div>
                    
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                
    
                <div class="b">
    
                    <div>
                        <div class="col-lg-5">
                            <font>
                                Estado del comprobate
                            </font>
                        </div>
                        <div class="col-sm-7">
                            <select class="custon-select form-control" name="Ecomprobante">
                                <option>Todos</option>
                                <option>PRUEBA</option>
                                <option>PRUEBA</option>
                                <option>PRUEBA</option>
                                <option>PRUEBA</option>
                                <option>PRUEBA</option>
                                <option>PRUEBA</option>
                                <option>PRUEBA</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div>
                        <div class="col-lg-5">
                            <font>
                                Uso de clave de confirmacion
                            </font>
                        </div>
                        <div class="col-sm-7">
                            <select class="custon-select form-control" name="Ecomprobante">
                                <option>Todos</option>
                                <option>PRUEBA</option>
                                <option>PRUEBA</option>
                                <option>PRUEBA</option>
                                <option>PRUEBA</option>
                                <option>PRUEBA</option>
                                <option>PRUEBA</option>
                                <option>PRUEBA</option>
                            </select>
                        </div>
                    </div>
                </div>
                </div>
    
            </form>
     </div>
     </div>
    
    
    <!--Segundo panel-->
    <div class="panel panel-primary">
    <div class="panel-heading" id="panels"><font style="font-size: 15px">Comprobantes fiscales digitales emitidos</font></div>
         <div class="panel-body">
            
            <form>
                <div class="row">
                        <div></div>
                        &nbsp;
                        &nbsp;
                        &nbsp;
                        &nbsp;
                        &nbsp;
                <div class="b">
                    
               <div>
                    <div class="col-lg-3">
                        <font>Plantilla</font>
                    </div>  
                    <div class="col-sm-7">
                        <select class="custon-select form-control" name="sucursal">
                            <option>Por defecto</option>
                            <option>PRUEBA</option>
                            <option>PRUEBA</option>
                            <option>PRUEBA</option>
                            <option>PRUEBA</option>
                            <option>PRUEBA</option>
                            <option>PRUEBA</option>
                        </select>
                    </div>
                </div>
    
                <div>
                    <button type="button" class="btn btn-success" value="">Descargar XML</button>
                    &nbsp;
                    <button type="button" class="btn btn-success" value="">Descargar PDF</button>
                    &nbsp;
                    <button type="button" class="btn btn-success" value="">Descargar XML y PDF</button>
                </div>
    
                </div>
    
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp; 
                &nbsp;
                &nbsp;
                &nbsp;
                
    
                <div class="b">
                        &nbsp;
                    <div>
                        <button type="button" class="btn btn-secondary" value="">Cancelar CFDI</button>
                        &nbsp;
                        <button type="button" class="btn btn-secondary" value="">Descargar XML cancelacion</button>
                        &nbsp;
                        <button type="button" class="btn btn-success" value="">Descargar XML envio</button>
                    </div>
                    
                </div>
    
                </div>
            </form>
    
            <br>
            <form>
                
            <div>
                <input type="checkbox" name="comprobantes" value=""><label>Enviar comprobantes por correo</label>
            </div>
            
            <div>    
                <input type="checkbox" name="registros" value=""><label>Seleccionar todos los registros visibles</label>
            </div>
    
            <div>    
                <input type="checkbox" name="Cfolios" value=""><label>Ordenar los comprobantes por folios</label>
            </div>
    
            </form>
    
            <br>
    
            <table id="NSER" class="table table-responsive">
                <tr>
                    <th>NO SE ENCONTRARON REGISTROS</th>
                </tr>
            </table>
    
    
            <form>
                <div style="float: right;">
                    <input type="radio" name="selecion"><label>Por seleccion</label>
                    <input type="radio" name="rango"><label>Por rango de fecha</label>
                </div>
    
                <br>
                <br>
    
                <div>
                     <button class="btn btn-success" type="button" value="" style="float: right;">Ver reporte PDF</button>
                    <button class="btn btn-success" type="button" value="" style="float: right;">Exportar Excel</button>
                </div>
    
                <div class="col-sm-3" style="float: right;">
                    <select class="custon-select form-control"  name="sin">
                        <option>Sin seleccion</option>
                        <option>PRUEBA</option>
                        <option>PRUEBA</option>
                        <option>PRUEBA</option>
                        <option>PRUEBA</option>
                        <option>PRUEBA</option>
                        <option>PRUEBA</option>
                    </select>               
                </div>
    
                <br>
                <br>
            </form>
    
     </div>
     </div>
     </div>