/* Table 2 */
.table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

.table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

.table tr {
  border: 1px solid #ddd;
  padding: .35em;
}

.table th,
.table td {
  padding: .625em;
  text-align: center;
  font-size: 11px;

}

.table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.table th {
  background-color: #2980B9;
   }

.table tr:nth-child(odd) {
  background-color: #85C1E9;
}

.table tr:nth-child(even) {
  background-color: #AED6F1;
}

.rwd-table th{
font-size: 11px;
}
@media screen and (max-width: 600px) {
.table {
    border: 0;
  }

  .table caption {
    font-size: 1.3em;
  }
  
  .table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  .table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  .table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  .table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .table td:last-child {
    border-bottom: 0;
  }
}   

#c{
margin: 0%;    
font-size: 100%;
text-align: right;
}

#btn1{
float: right;

}

#btn2{
float: right;;
}

#btn3{ 
float: right;
 }

 select{
  background: transparent;
  border:none;
  font-size: 12px;
  height: 30px;
  width: 250px;
 }

 #sele{
  margin:20px auto 40px auto; 
   border:1px solid #d9d9d9;
   height:25px;
   overflow: hidden;
   width: 147px;
   position:relative;
 }

 #boton{
  float: right; 
 }

 .c { 
  border: thin blue solid;
  height: 100%;
  
}

#panels{
  background-color: #336666;
}