<div class="container-fluid">
<nav class="navbar navbar-icon-top navbar-expand-lg" style="background-color: #336666" role="navigation">
<div class="navbar-header">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="background-color: #85929E">
    <span class="navbar-toggler-icon"></span>
  </button>
  </div>

         <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a routerLink="principal" id="icon" class="nav-link" href="#" >
              <span id="pru" class="glyphicon glyphicon-home"></span>
              <br>
              Panel principal
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#" id="icon">
              <span id="pru" class="glyphicon glyphicon-file"></span>
              <br>
              Registro de CFDI 3.3
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#" id="icon">
              <span id="pru" class="glyphicon glyphicon-file"></span>
              <br>
              Generar CFDI 3.3
              </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#" id="icon">
                <span id="pru" class="glyphicon glyphicon-plus"></span>
                <br>
                Mas
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#" id="icon">
                <span id="pru" class="glyphicon glyphicon-comment"></span>
                <br>
                Ayuda
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#" id="icon">
                <span id="pru" class="glyphicon glyphicon-lock glyphicon">
                </span>
                <br>
                Cerrar sesión
                </a>
            </li>
          </ul>
        </div>
      </nav>

      </div>

<router-outlet></router-outlet>
