<!--primer panel-->
<div class="container-fluid">z
<div class="panel panel-primary">
    <div class="panel-heading" id="panels">Compobante emisor</div>
    <div class="panel-body d-flex justify-content-center">

    <div class="one">
        <form class="form-inline col-lg-12" role="form-horizontal">
            <div class="col-md-12 col-lg-12">


            <div class="row">
                <div class="col-lg-4 form-group">
                    <div class="col-lg-5">
                        <font size="2" class="rfc">
                            *RFC
                        </font>
                    </div>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" id="rfc" placeholder="RFC" maxlength="13" name="">
                    </div>
                    </div>

                    <div class="col-lg-4 form-group">
                        <div class="col-lg-5">
                            <font size="2" class="sucursal">
                                Sucursal
                            </font>
                        </div>
                        <div  class="col-lg-4">
                            <input type="text" class="form-control" id="sucursal" placeholder="Sucursal" name="">
                        </div>
                        </div>

                        <div class="col-lg-4 form-group">
                            <div class="col-lg-5">
                            <font size="2" class="Razon social">
                                Razon social
                            </font>
                            </div>
                            <div class="col-lg-4">
                            <input type="text" class="form-control" id="razon" placeholder="Razon social" name="">
                            </div>
                        </div>
                    </div>


                    <div class="row">
                    <div class="col-lg-4 form-group">
                            <div class="col-lg-5">
                                <font size="2" class="ser">
                                    Serie
                                </font>
                            </div>
                            <div class="col-lg-4">
                            <input type="text" class="form-control" id="serie" placeholder="serie" name="ser">
                            </div>
                        </div>

                        <div class="col-lg-4 form-group">
                            <div class="col-lg-5">
                                <font size="2" class="Tipo doc">
                                    Tipo de documento
                                </font>
                            </div>
                            <div class="col-lg-4">
                            <input type="text" class="form-control" id="doc" placeholder="Tipo de doc." name="">
                            </div>
                        </div>

                        <div class="col-lg-4 form-group">
                            <div class="col-lg-5">
                                <font size="2" class="tipo com.">
                                    Tipo de comprobante 
                                </font>
                            </div>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" id="com" placeholder="Tipo de com" name="">
                            </div>
                        </div>
                    
                    </div>


                    <div class="row">
                        <div class="col-lg-4 form-group">
                            <div class="col-lg-5">
                                <font size="2" class="flio">
                                    Folio
                                </font>
                            </div>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" id="flio" placeholder="folio" name="">
                            </div>
                        </div>

                        <div class="col-lg-4 form-group">
                            <div class="col-lg-5">
                                <font size="2" class="Titulo">
                                    Titulo de comprobante
                                </font>
                            </div>
                            <div class="col-lg-4">
                                <input type="tex" class="form-control" id="titulo com" placeholder="titulo comprobante" name="">
                            </div>
                        </div>

                        <div class="col-lg-4 form-group">
                            <div class="col-lg-5">
                                <font size="2" class="fecha">
                                    Fecha
                                </font>
                            </div>
                            <div class="col-lg-4">
                                <input type="calendar" class="form-control" id="fecha" placeholder="feccha" name="">
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-4 form-group">
                            <div class="col-lg-5">
                                <font size="2" class="pago">
                                    Forma de pago
                                </font>
                            </div>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" id="forma" placeholder="forma pago" name="">
                            </div>
                        </div>

                        <div class="col-lg-4 form-group">
                            <div class="col-lg-5">
                                <font size="2" class="metooo">
                                    Metodo de pago
                                </font>
                            </div>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" id="metpag" placeholder="metodo pago" name="">
                            </div>
                        </div>

                        <div class="col-lg-4 form-group">
                            <div class="col-lg-5">
                                <font size="2" class="moneda">
                                    Moneda
                                </font>
                            </div>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" id="moneda" placeholder="moneda" name="">
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-lg-4 form-group">
                            <div class="col-lg-5">
                                <font size="2" class="espedicion">
                                    Lugar de expedicion
                                </font>
                            </div>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" id="lugexp" placeholder="lugar expedicion" name="">
                            </div>
                        </div>

                        <div class="col-lg-4 form-group">
                            <div class="col-lg-5">
                                <font size="2" class="Rfiscal">
                                    Regimen fiscal
                                </font>
                            </div>
                            <div class="col-lg-4">
                                <select  class="custon-select form-control" name="regimen">
                                    <option>612 personas fisicas co</option>
                                    <option>ble</option>
                                    <option>bli</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-4 form-group">
                            <div class="col-lg-5">
                                <font size="2" class="confirmacion">
                                    Confirmacion
                                </font>
                            </div>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" id="confirmacion" placeholder="confirmacion" name="">
                            </div>
                        </div>
                    </div>
                        
                    

                    
                </div>
            </form>
        </div>
     </div>
</div>     

                

<!-- segundo panel -->
<div class="panel panel-primary">
<div class="panel-heading" id="panels">Emisor</div>
     <div class="panel-body">
        
        <form>
             <div>
            <input name="emisor" type="checkbox" value=""><label> Agragar emisor</label> 
            </div>
            <div class="d-flex justify-content-center">
            <div class="b">    

            <div class="row">
            <form class="form-inline" role="form">
                <div class="form-group col-lg-4">
                <div class="col-lg-5">
                    <font>CURP
                    </font>
                </div>
                <div class="col-lg-4">    
                    <input type="text" name="curp" class="form-comtrol" placeholder="AANJ148935HVZMANS7">
                </div>
                </div>

                <div class="form-group col-lg-4">
                <div class="col-lg-5">
                    <font>Registro Patrolnail
                    </font>
                </div>
                <div class="col-lg-4">
                    <input type="text" name="registro" class="form-control" id="registro" placeholder="registro personal">
                </div>
                </div>

                <div class="form-group col-lg-4">
                <div class="col-lg-5">
                    <font> RFC Patron de origen
                    </font>
                </div>    
                <div class="col-lg-4">
                    <input type="text" name="patron" class="form-control" id="patron" placeholder="AAWW890512MVZAVE6"> 
                </div>
                </div>

                </form>
                <div>
                <input type="checkbox" name="sncf" value=""><label>Agregar Entidad Sisitema Nacional de Coordinacion Fiscal (SnCF)</label>  
                </div>
             
            </div>
            </div>                         
            </div>
        </form>
 </div>
 </div>

 <!--tercer panel-->
<div class="panel panel-primary">
<div class="panel panel-heading" id="panels">Empleado</div>
    <div class="panel-body">
        <div class="b" id="bor1">
        <form>
        <div class="row">
            <div class="form-group col-lg-4">
            <div class="col-lg-5">
                <h6> Busqueda de empleado</h6>
            </div>
                <div class="col-sm-7">
                <input type="text" name="busqueda" class="form-control" id="busqueda" placeholder="criterio de busqueda">
            </div>
        </div> 
        </div>   

            <div class="row">
                <div class="form-group col-lg-4">
                <div class="col-lg-2">
                    <font>*RFC</font>>
                </div> 
                <div class="col-sm-7">   
                    <input type="text" name="rfc" class="form-control" id="rfc" placeholder="AAWW890512MVZAVE6">
                </div>
                </div>

                <div class="form-group col-lg-4">
                <div class="col-lg-2">
                    <font>Nombre</font>
                </div>    
                <div class="col-sm-7">        
                    <input type="text" name="nom" class="form-control" id="nombre" placeholder="Razon social receptor">
                </div>
                </div>

                <div class="form-group col-lg-4">
                <div class="col-lg-4">
                    <font>Uso del CFDI</font>
                </div>   
                <div class="col-sm-7"> 
                    <input type="uso" name="cfdi" class="form-control" id="Cfdi" placeholder="P01-por definir">
                </div>
                
            </div>
            </div>

            <div>
                <input type="checkbox" name="includ" value=""><label>Incluir domicilio en PDF</label>
            </div>
            
        </form>
        </div>

        <br>

        <div class="b" id="bor2">
        <form>
            <div>
                <input type="checkbox" name="domicilio" value=""><label>Llenar domcilio del empleado</label>
            </div>

            <div class="row">
                <div class="form-group col-lg-4">
                <div class="col-lg-5">
                    <font>*No. Empleado</font>
                </div>
                <div class="col-sm-7">    
                    <input type="text" name="no" class="form-control" id="empledo" placeholder="Numero de empleado">
                </div>
                </div>

                <div class="form-group col-lg-4">
                <div class="col-lg-5">  
                    <font>*CURP</font>
                </div>
                <div class="col-sm-7">    
                    <input type="text" name="curp" class="form-control" id="curp" placeholder="AANJ148935HVZMANS7">
                </div>
                </div>

                <div class="form-group col-lg-4">
                <div class="col-lg-5">
                    <font>*Tipo de nomina</font>
                    </div>
                    <div class="col-sm-7">
                    <select class="custom-select form-control" name="tnomina">
                        <option>sin seleccion</option>
                        <option>AAAAA</option>
                        <option>AAAAA</option>
                        <option>AAAAA</option>
                        <option>AAAAA</option>
                        <option>AAAAA</option>
                        <option>AAAAA</option>
                    </select>
                </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-lg-4">
                <div class="col-lg-5">
                    <font>
                        *Periodicidad del pago
                    </font>
                </div>
                <div class="col-sm-7">
                    <select class="custon-select form-control" name="perio">
                        <option>Sin Seleccion</option>
                        <option>BBBBBBB</option>
                        <option>BBBBBBB</option>
                        <option>BBBBBBB</option>
                        <option>BBBBBBB</option>
                        <option>BBBBBBB</option>
                    </select>
                </div>
                </div>


                <div class="form-group col-lg-4">
                <div class="col-lg-5">
                    <font>
                        *Entidad federativa
                    </font>
                </div>
                <div class="col-sm-7">
                    <select class="custon-select form-control" name="region">
                        <option>Sin Seleccion</option>
                        <option>CCCCCCC</option>
                        <option>CCCCCCC</option>
                        <option>CCCCCCC</option>
                        <option>CCCCCCC</option>
                        <option>CCCCCCC</option>
                    </select>
                </div>
                </div>


                <div class="form-group col-lg-4">
                <div class="col-lg-5">
                    <font>
                        *Tipo de contrato
                    </font>
                </div>
                <div class="col-sm-7">
                    <select class="custon-select form-control" name="Tcontrato">
                        <option>Sin Seleccion</option>
                        <option>DDDDDDDD</option>
                        <option>DDDDDDDD</option>
                        <option>DDDDDDDD</option>
                        <option>DDDDDDDD</option>
                    </select>
                </div>    
                </div>
            </div>

            <div class="row">
                <div class="form-group col-lg-4">
                <div class="col-lg-5">
                    <font>
                        *Tipo de regimen
                    </font>
                </div>
                <div class="form-group col-sm-7">
                    <select class="custon-select form-control" name="regimen">
                        <option>Sin Seleccion</option>
                        <option>EEEEEEEE</option>
                        <option>EEEEEEEE</option>
                        <option>EEEEEEEE</option>
                        <option>EEEEEEEE</option>
                    </select>
                </div>    
                </div>

                <div class="form-group col-lg-4">
                <div class="col-lg-5">
                    <font>
                        NSS
                    </font>
                </div>
                <div class="col-sm-7">
                    <input type="text" name="nss" class="form-control" id="nss" placeholder="Numero seguro social">
                </div>    
                </div>

                <div class="form-group col-lg-4">
                <div class="col-lg-5">
                    <font>
                        Salario base, cuotas y aportaciones
                    </font>
                </div>
                <div class="col-sm-7">
                    <input type="text" name="salario" class="form-control" id="salariob" placeholder="0.00">
                </div>    
                </div>
            </div>

            <div class="row">
                <div class="form-group col-lg-4">
                <div class="col-lg-5">
                    <font>
                     Region del puesto
                    </font>
                </div>
                <div class="col-sm-7">
                    <select class="custon-select form-control" name="region">
                        <option>Sin Seleccion</option>
                        <option>GGGGGGGG</option>
                        <option>GGGGGGGG</option>
                        <option>GGGGGGGG</option>
                        <option>GGGGGGGG</option>
                        <option>GGGGGGGG</option>
                    </select>
                </div>        
                </div>

                <div class="form-group col-lg-4">
                <div class="col-lg-5">
                    <font>Salario diario integrado</font> 
                </div>
                <div class="col-sm-7">
                    <input type="text" name="Sdiario" class="form-control" id="salariod" placeholder="0.00">
                </div>    
                </div>

                <div class="form-group col-lg-4">
                <div class="col-lg-5">
                    <font>
                        Tipo de jornada
                    </font>
                </div>
                <div class="col-sm-7">
                    <select class="custon-select form-control" name="jornada">
                        <option>Sin Seleccion</option>
                        <option>HHHHHHHH</option>
                        <option>HHHHHHHH</option>
                        <option>HHHHHHHH</option>
                        <option>HHHHHHHH</option>
                        <option>HHHHHHHH</option>
                        <option>HHHHHHHH</option>
                    </select>
                </div>    
                </div>
            </div>    

            <div class="row">
                <div class="form-group col-lg-4">
                <div class="col-lg-5">
                    <font>
                        Departamento
                    </font>
                </div>
                <div class="col-sm-7">
                    <input type="text" name="departamento" class="form-control" id="departamento" placeholder="Departamento empleado">
                </div>    
                </div>
                

                <div class="form-group col-lg-4">
                <div class="col-lg-5">
                    <font>Puesto</font>
                </div>
                <div class="col-sm-7">
                    <input type="text" name="puesto" class="form-control" id="puesto" placeholder="Puesto empleado">
                </div>    
                </div>

                <div class="form-group col-lg-4">
                <div class="col-lg-5">
                    <font>
                        Sindicalizado
                    </font>
                </div>
                <div class="col-sm-7">
                    <select class="custon-select form-control" name="sindi">
                        <option>Sin Seleccion</option>
                        <option>IIIIIII</option>
                        <option>IIIIIII</option>
                        <option>IIIIIII</option>
                        <option>IIIIIII</option>
                    </select>
                </div>    
                </div>
            </div>

            <div class="row">
                <div class="form-group col-lg-4">
                <div class="col-lg-5">
                    <font>
                        Cuenta bancaria
                    </font>
                </div>
                <div class="col-sm-7">
                    <input type="text" name="cuenta" class="form-control" id="cuenta" placeholder="123a1s321321c31s">
                </div>    
                </div>
                    
                <div class="form-group col-lg-4">
                <div class="col-lg-5">
                    <font>
                        Banco
                    </font>
                </div>
                <div class="col-sm-7">
                    <select class="custon-select form-control" name="banco">
                        <option>Sin Seleccion</option>
                        <option>JJJJJJJJ</option>
                        <option>JJJJJJJJ</option>
                        <option>JJJJJJJJ</option>
                        <option>JJJJJJJJ</option>
                    </select>
                </div>    
                </div>

                <div class="form-group col-lg-4">
                <div class="col-lg-5">
                    <font>
                        Fecha inicio relacion laboral
                    </font>
                </div>
                <div class="col-sm-7">
                    <input type="calendar" name="fecha" class="form-control" id="calendar" placeholder="dd/mm/aa"> 
                </div>   
                </div>
            </div>
        </form>
        </div>

        <br>

        <div class="b" id="bor3">
        <form>
            <div class="row">
                <div class="form-group col-lg-4">
                <div class="col-lg-5">
                    <font>
                        *Fecha inicial de pago
                    </font>
                </div>    
                <div class="col-sm-7">
                    <input type="calendar" name="pago" class="form-control" id="calendar" placeholder="dd/mm/aa">
                </div>
                </div>

                <div class="form-group">
                <div class="col-lg-5">
                    <font>
                        *Fecha final de pago
                    </font>
                </div>   
                <div class="col-sm-7">
                    <input type="calendar" name="fpago" class="form-control" id="calendar" placeholder="dd/mm/aa">
                </div>     
                </div>

                <div class="form-group col-lg-4">
                <div class="col-lg-5">
                    <font>
                        Fecha de pago
                    </font>
                </div>
                <div class="col-sm-7">
                    <input type="calendar" name="fpago" class="form-control" id="calendar" placeholder="dd/mm/aa">
                </div>    
                </div> 
            </div> 
            <div class="row">
                <div class="form-group col-lg-4">
                <div class="col-lg-5">
                    <font>
                        Dias pagados
                    </font>
                </div>
                <div class="col-sm-7">
                    <input type="text" name="diasp" class="form-control" id="diasP" placeholder="Dias Pagados">
                </div>    
                </div>

                <div class="col-lg-4">
                    <input type="checkbox" name="semanas" value=""><label>Semanas</label>
                    <input type="checkbox" name="A,M,D" value=""><label>Anos, Meses y Dias</label>
                </div>

                <div class="form-group col-lg-4">
                <div class="col-lg-4">
                    <font>
                        Antiguedad
                    </font>
                </div>
                <div class="col-lg-4">
                    <input type="text" name="antiguedad" class="form-control" id="antiguedad" placeholder="Antiguedad">
                </div>    
                </div>
            </div>       
        </form>
        </div>


        <form>
            <div class="col-lg-3">
                <input type="checkbox" name="argegsub"><label>Agregar subcontratacion</label>
            </div>

            <div class="col-lg-3">
                <input type="checkbox" name="agregper"><label>Agregar percepciones</label>
            </div>

            <div class="col-lg-3">
                <input type="checkbox" name="agregded"><label>Agregar deducciones</label>
            </div>

            <div class="col-lg-3">
                <input type="checkbox" name="<agregotr"><label>Agregar otros pagos</label>
            </div>

            <div class="col-lg-3"> 
                <input type="checkbox" name="agreginc"><label>Agregar incapacidades</label>
            </div>
        </form>
        </div>
        </div>


<!-- cuarto panel-->
<div class="panel panel-primary">
    <div class="panel-heading" id="panels">Totales</div>
    <div class="panel-body d-flex justify-content-center">
        <div class="panel-body">

            <form>
                <div class="col-lg-4 form-group">
                <div class="col-lg-5">
                    <font>Total de percepciones</font>
                </div>
                <div class="col-sm-7">
                    <input type="text" name="total" class="form-control" id="Tpercepciones" placeholder="0.00">
                </div>    
                </div>

                <div class="col-lg-4 form-group">
                <div class="col-lg-5">
                    <font>Total de deducciones</font>
                </div>
                <div class="col-sm-7">
                    <input type="text" name="total" class="form-control" id="Tdeducciones" placeholder="0.00">
                </div>    
                </div>

                <div class="col-lg-4 form-group">
                <div class="col-lg-5">
                    <font>
                        Total de otros pagos
                    </font>
                </div>
                <div class="col-sm-7">
                    <input type="text" name="totales" class="form-control" id="TotrosP" placeholder="0.00">
                </div>    
                </div>
            </form>
            
        </div>
    </div>
</div>


<!--Botones-->
<button id="btn3" type="button" class="btn btn-success" style="float: right;">Agregar nomina</button>
<button id="btn2" type="button" class="btn btn-secondary" style="float: right;">Limpiar</button>
<br>
<br>
<br>


<!--quinto panel-->
<div class="panel panel-primary">
    <div class="panel-heading" id="panels">Nominas</div>
    <div class="panel-body d-flex justify-content-center">
        <div class="panel-body">
                <h6> AUN NO SE AGREGADO NINGUN REGISTRO</h6>
        </div>
    </div>
</div>


<!-- sexto panel -->
<div class="panel panel-primary">
    <div class="panel-heading" id="panels">Concepto</div>
        <div class="panel-body">

            <form>
                <div class="row">
                    <div class="form-group col-lg-4">
                    <div class="col-lg-5">
                        <font>
                            *Clave
                        </font>
                    </div>
                    <div class="col-sm-7">
                        <input type="text" name="clave" class="form-control" id="clave" placeholder="S62626">
                    </div>    
                    </div>

                    <div class="form-group col-lg-4">
                    <div class="col-lg-5">
                        <font>
                            *Cantidad
                        </font>
                    </div>
                    <div class="col-sm-7">
                        <input type="text" name="cantidad" class="form-control" id="cantidad" placeholder="1">
                    </div>    
                    </div>

                    <div class="form-group col-lg-4">
                    <div class="col-lg-5">
                        <font>
                            *Descripcion
                        </font>
                    </div>
                    <div class="col-sm-7">
                        <input type="text" name="desc" class="form-control" id="descripcion" placeholder="pago de nomina">
                    </div>    
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-lg-4">
                    <div class="col-lg-5">
                        <font>
                            *Clave Unidad
                        </font>
                    </div>
                    <div class="col-sm-7">
                        <input type="text" name="clav" class="form-control" id="claveu" placeholder="ACT">
                    </div>    
                    </div>
                    
                    <div class="form-group col-lg-4">
                    <div class="col-lg-5">
                        <font>
                            *Valor unitario
                        </font>
                    </div>
                    <div class="col-sm-7">
                        <input type="text" name="valor" class="form-control" id="Vunitario" placeholder="0.00">
                    </div>    
                    </div>

                    <div class="form-group col-lg-4">
                    <div class="col-lg-5">
                        <font>
                            Importe
                        </font>
                    </div>
                    <div class="col-sm-7">
                        <input type="text" name="impor" class="form-control" id="Importe" placeholder="0.00">
                    </div>    
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-lg-4">
                    <div class="col-lg-5">
                        <font>
                            Descuento
                        </font>
                    </div>
                    <div class="col-sm-7">
                        <input type="text" name="des" class="form-control" id="descuento" placeholder="0.00">
                    </div>    
                    </div>
                </div>
            </form>
            
        </div>
    
</div>


<!--Septimo panel-->
<div class="panel panel-primary">
    <div class="panel-heading" id="panels">Etiquetas personalizadas y firmas</div>
    <div class="panel-body d-flex">
    <div class="panel-body">

        <form>
            <div>
                <input type="checkbox" name="Epersonalizadas"><label>Llenar etiquetas personalizadas</label>
            </div>

            <div>
                <input type="checkbox" name="firmas"><label>Llenar firmas</label>
            </div>

            <div>
                <input type="checkbox" name="page"> <label>pagane</label>
            </div>
        </form>
        </div>
        
    </div>
</div>

<!-- octavo panel-->
<div class="panel panel-primary">
    <div class="panel-heading" id="panels">Total</div>
    <div class="panel-body d-flex">
    <div class="panel-body">    
        <form>
            <div class="row">
            <div class="form-group col-lg-4">
            <div class="col-lg-5">
                <font>
                    Importe con letra
                </font>
            </div>
            <div class="col-sm-7">
                <input type="text" name="impo" class="form-control" id="importe" placeholder="Importe del total con letra">
            </div>
            </div>

            <div>
               <input type="checkbox" name="pdfe"><label>PDF español</label>
            </div>
            <div>   
               <input type="checkbox" name="pdfi"><label>PDF ingles</label>
            </div>
            </div> 


            
            <div class="col-lg-4">
            <div class="col-lg-2">
                <font>
                    *Subtotal
                </font>
            </div>
            <div class="col-sm-7">
                <input type="text" name="sub" class="form-control" id="subtotal" placeholder="0.00">
            </div>    
            </div>

            <div class="col-lg-4">
            <div class="col-lg-5">
                <font>
                    Descuento total
                </font>
            </div>
            <div class="col-sm-7">
                <input type="text" name="des" class="form-control" id="descuento" placeholder="0.00">
            </div>    
            </div>

            <div class="form-group col-lg-4">
            <div class="col-lg-2">
                <font>
                    *Total
                </font>
            </div>
            <div class="col-sm-7">
                <input type="text" name="tol" class="form-control" id="total" placeholder="0.00">
            </div>    
            </div>

            <button id="btn3" type="button" class="btn btn-success" style="float: right;">Emitir CDFI</button>
            <button id="btn2" type="button" class="btn btn-success" style="float: right;">Guardar prefectura</button>
            <button id="btn2" type="button" class="btn btn-success" style="float: right;">Vista previas</button>

           
        </form>       
        
    </div>
    
</div>
</div>