
#a{     
	padding: 0;
	}
	
	#a li{
	display: inline;
	
	}
	
	#a li a{
	font-family: Arial;
	font-size: 15px;
	text-decoration: none;
	float: left;
	padding: 10px;
	background-color: #EBEEF0;
	color: #757779;
	width: 202px;
	height: 65px;   
	}
	
	#button li a:hover {
	 background-color: #2586d7;
	 margin-top: -2;
	 padding-bottom: 12px;
	 }
	
	/* Table */
	.rwd-table {
	  border: 1px solid #ccc;
	  border-collapse: collapse;
	  margin: 0;
	  padding: 0;
	  width: 100%;
	  table-layout: fixed;
	}
	
	.rwd-table caption {
	  font-size: 1.5em;
	  margin: .5em 0 .75em;
	}
	
	.rwd-table tr {
	  border: 1px solid #ddd;
	  padding: .35em;
	}
	
	.rwd-table th,
	.rwd-table td {
	  padding: .625em;
	  text-align: center;
	  font-size: 11px;
	}
	
	.rwd-table th {
	  font-size: .85em;
	  letter-spacing: .1em;
	  text-transform: uppercase;
	}
	
	.rwd-table th {
	  background-color: #2980B9;
	   }
	
	.rwd-table tr:nth-child(odd) {
	  background-color: #85C1E9;
	}
	
	.rwd-table tr:nth-child(even) {
	  background-color: #AED6F1;
	}
	
	.rwd-table th{
	  font-size: 11px;
	} 
	@media screen and (max-width: 600px) {
	.rwd-table {
		border: 0;
	  }
	
	  .rwd-table caption {
		font-size: 1.3em;
	  }
	  
	  .rwd-table thead {
		border: none;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	  }
	  
	  .rwd-table tr {
		border-bottom: 3px solid #ddd;
		display: block;
		margin-bottom: .625em;
	  }
	  
	  .rwd-table td {
		border-bottom: 1px solid #ddd;
		display: block;
		font-size: .8em;
		text-align: right;
	  }
	  
	  .rwd-table td::before {
		/*
		* aria-label has no advantage, it won't be read inside a table
		content: attr(aria-label);
		*/
		content: attr(data-label);
		float: left;
		font-weight: bold;
		text-transform: uppercase;
	  }
	  
	  .rwd-table td:last-child {
		border-bottom: 0;
	  }
	}   
	
	
	 #panels{
	  background-color: #333366;
	 }
	
	 #newProductLabel{
		text-align: left;
		background-color: #333366;
		margin: 0em;
		font-size: 15px;
		color: #FFF;
	 }

	 #newProduct{
		 z-index: 1500;
	 }